.autor-blog {
   line-height: 175%;
   letter-spacing: 0.04em;
   color: $colorTxtCard;
   // display: flex;
   // justify-content: space-between;
   display: grid;
   grid-template-columns: repeat(2, auto);
   column-gap: rem(30);
   justify-content: space-between;

   // .autor-blog__date
   &__date {
   }
   // .autor-blog__name
   &__name {
      text-align: right;
      &::before {
         content: "- ";
      }
   }
}
