//====================================================================================================
.header {
	color: #fff;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&._header-scroll {
		position: fixed;
		left: -100%;
		// transform: translate(0px, -100%);
		background-color: rgba(0, 0, 0, 0.384);
	}
	&._header-show {
		transition: all 0.3s ease 0s;
		// transform: translate(0px, 0px);
		left: 0;
	}
	// .header__container
	&__container {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		gap: 10px;
		// min-height: 101px;
		@include adaptiveValue("min-height", 101, 30);
		padding: 10px 10px;
		grid-template-areas: "l m a";
		// grid-template-areas: "l l l l m m m m a a a a";
		// .header__container_wide
		&_wide {
		}
		@media (max-width: $mobile) {
			grid-template-areas: "l a m";
			grid-template-columns: auto auto max-content;
		}
	}
	// .header__logo
	&__logo {
		grid-area: l;
		@extend %cuf;
		// grid-column: span 4;
		justify-self: start;

		font-weight: 700;
		// font-size: 44px;
		line-height: 130%;
		text-transform: uppercase;
		z-index: 2;

		@include adaptiveValue("font-size", 44, 35, 1330, 768, 1);
	}
	// .header__menu
	&__menu {
		grid-area: m;
		// grid-column: span 4;
		// justify-self: center;
	}
	// .header__auth
	&__auth {
		grid-area: a;
		z-index: 2;
		// grid-column: span 4;
		// justify-self: end;
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			transition: all 0.3s ease 0s;
			@include adaptiveValue("padding-top", 140, 70);
			padding-bottom: rem(30);
			background-color: #272727;
			padding-inline: rem(15);
			padding-bottom: rem(30);
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				top: 0;
				left: -100%;
				z-index: 100;
				background-color: #000;
				@include adaptiveValue("height", 121, 70);
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 32, 15, 1330, 768, 1);
		@media (max-width: $mobile) {
			flex-direction: column;
			&:not(:last-child) {
				margin-bottom: rem(50);
			}
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-size: 16px;
		line-height: 175%;
		letter-spacing: 0.04em;
		@media (any-hover: hover) {
			&:hover {
				color: $colorHover;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(30);
		}
	}
}
.icon-menu {
}
.auth-header {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	// column-gap: 50px;
	// .auth-header__item
	@media (max-width: em(1150)) {
		flex-direction: column;
		align-items: flex-end;
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
		align-items: center;
	}
	&__item {
		display: flex;
		row-gap: 10px;
		&:not(:last-child) {
			&::after {
				@media (min-width: em(1150)) {
					content: "";
					width: 1px;
					height: 57px;
					margin: 0px 0px 0px vw(49);
					background: linear-gradient(
						to bottom,
						#ffffff00 0%,
						#ffffffd9 30%,
						#ffffff 40%,
						#ffffff 50%,
						#ffffff 60%,
						#ffffffd9 70%,
						#ffffff00 100%
					);
				}
				@media (min-width: em(1920.97)) {
					margin: 0px 0px 0px 50px;
				}
				@media (max-width: em(1300)) {
					margin: 0px 0px 0px vw(49) * 0.3;
				}
			}
		}
		&:not(:first-child) {
			@media (min-width: em(1150)) {
				padding: 0px 0px 0px vw(50);
				@media (max-width: em(1300)) {
					padding: 0px 0px 0px vw(50) * 0.3;
				}
			}
		}
	}
	// .auth-header__link
	&__link {
		align-self: center;
		font-weight: 600;
		line-height: 175%;
		letter-spacing: 0.05em;
		text-align: right;
		@media (any-hover: hover) {
			&:hover {
				color: $colorHover;
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(30);
			@include adaptiveValue("font-size", 30, 27);
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(40);
		height: rem(22.5);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
